**
!go.mod
!go.sum
!*.go
!locales/
!locales/en.json
!contracts/
!contracts/**
!.claude/
!.claude/skills/
!.claude/skills/**
!tools/
!tools/agent-workflows/
!tools/agent-workflows/CONTRACT.md
!tools/agent-workflows/templates/
!tools/agent-workflows/templates/*.md
!web/
!web/**
!deploy/
!deploy/entrypoint.sh
!LICENSE
!THIRD_PARTY_NOTICES.md
!Dockerfile
*_test.go
