**
!go.mod
!go.sum
!*.go
!cmd/
!cmd/**
!internal/
!internal/**
!locales/
!locales/en.json
!contracts/
!contracts/**
!.claude/
!.claude/skills/
!.claude/skills/**
!.claude/commands/
!.claude/commands/ks-feature.md
!.claude/commands/ks-plan.md
!tools/
!tools/agent-workflows/
!tools/agent-workflows/CONTRACT.md
!tools/agent-workflows/templates/
!tools/agent-workflows/templates/*.md
!tools/agent-workflows/templates/preparations.json
!web/
!web/**
!docs/
!docs/training/
!docs/training/casa-pizza/
!docs/training/casa-pizza/**
!deploy/
!deploy/entrypoint.sh
!LICENSE
!THIRD_PARTY_NOTICES.md
!Dockerfile
!build.sh
!version_history.json
!config/
!config/*.json
*_test.go
**/*_test.go
